{{> header}}

<div class="container">
    <h1 class="mb-2 mt-3 py-4 text-center text-light bg-secondary border rounded">Panel de Administrador</h1>
        <div class="row">
            <div id="stats">
                <div class="stats">
                    <h4>Estadisticas</h4>
                    <div class="stat-item">Cantidad de jugadores que tiene el juego: <b>{{CANTIDAD_USUARIOS}}</b></div>
                    <div class="stat-item">Cantidad de partidas jugadas: <b>{{cantidadTotalDePartidasJugadas}}</b></div>
                    <div class="stat-item">Cantidad de preguntas creadas: <b>{{preguntasCreadas}}</b></div>
                    <div class="stat-item">Cantidad de usuarios nuevos: <b id="cantidadNuevosUsuarios">{{newUsers}}</b></div>
                    <form id="filterForm" >
                        <label for="filterType" class="stat-item">Filtrar usuarios nuevos por:</label>
                        <select id="filterType" name="filterType" class="form-control w-25 d-inline">
                            <option value="all">Hoy</option>
                            <option value="week">Última Semana</option>
                            <option value="month">Último Mes</option>
                            <option value="year">Último Año</option>
                        </select>
                        <div class="stat-item">
                        <button class="btn btn-light btn-outline-secondary" type="submit">Aplicar Filtro</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div id="respuestasCorrectasPorPregunta" style="width: 100%; height: 400px;"></div>
                </div>
                <div class="col-md-8">
                    <div id="cantidadUsuariosPais" style="width: 100%; height: 400px;"></div>
                </div>
                <div class="col-md-8">
                    <div id="cantidadUsuariosRangoEdad" style="width: 100%; height: 400px;"></div>
                </div>
            </div>
                <div class="col-md-12">
                    <div class="stats mt-3">
                        <button class="btn btn-light btn-outline-secondary px-20px" id="download-button">Descargar Gráficos en PDF</button>
                    </div>
                </div>
        </div>
</div>

{{> footer}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.0/html2canvas.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/vfs_fonts.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawRespuestasCorrectas);
    google.charts.setOnLoadCallback(drawContadorUsers);
    google.charts.setOnLoadCallback(drawContadorRangoEdad);

    function drawRespuestasCorrectas() {

        var data = google.visualization.arrayToDataTable([
            ['Preguntas', 'RespuestasCorrectas'],
            ['{{preguntaUno}}', {{respuestasCorrectaUno}}],
            ['{{preguntaDos}}', {{respuestasCorrectaDos}}],
            ['{{preguntaTres}}', {{respuestasCorrectaTres}}],
            ['{{preguntaCuatro}}', {{respuestasCorrectaCuatro}}],
            ['{{preguntaCinco}}', {{respuestasCorrectaCinco}}]
        ]);

        var options = {
            title: 'Top 5 preguntas respondidas correctamente'
        };

        var chart = new google.visualization.PieChart(document.getElementById('respuestasCorrectasPorPregunta'));

        chart.draw(data, options);
    }

    function drawContadorUsers() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Pais');
        data.addColumn('number', 'Contador de Usuarios');
        data.addRows(dataFromPHP);


        var options = {
            title: 'Cantidad de Usuarios por Pais',
            hAxis: {
                title: 'Pais'
            },
            vAxis: {
                title: 'Cantidad Usuarios'
            }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('cantidadUsuariosPais'));

        chart.draw(data, options);
    }

    function drawContadorRangoEdad() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
            ['Rango Edad', 'Usuarios Menores', 'Usuarios Adultos', 'Usuarios Mayores'],
            ['Usuarios Menores',  {{youngUsers}},      0,         0],
            ['Usuarios Adultos',  0,      {{adultUsers}},        0],
            ['Usuarios Mayores',  0,      0,        {{retiredUsers}}],
        ]);

        var options = {
            title : 'Cantidad de usuarios por Rango de Edad',
            vAxis: {title: 'Cantidad Usuarios'},
            hAxis: {title: 'Rango Edad'},
            seriesType: 'bars',
            series: {5: {type: 'line'}}
        };

        var chart = new google.visualization.ComboChart(document.getElementById('cantidadUsuariosRangoEdad'));
        chart.draw(data, options);
    }

</script>
<script type="text/javascript">
    var dataFromPHP = [
        {{#contadorUsuariosPais}}
            ['{{pais}}', {{contadorUsuarios}}],
        {{/contadorUsuariosPais}}
    ];
</script>
<script type="text/javascript">
    var newUsers;
    $(document).ready(function () {
        $('#filterForm').submit(function (event) {
            event.preventDefault();

            var filterType = $('#filterType').val();

            switch (filterType) {
                case 'week':
                    newUsers = {{newUsersPastWeek}}
                    break;
                case 'month':
                    newUsers = {{newUsersPastMonth}}
                    break;
                case 'year':
                    newUsers = {{newUsersPastYear}}
                    break;
                default:
                    newUsers = {{newUsers}}
                    break;
            }
            $('#cantidadNuevosUsuarios').text(newUsers);
        });
    });
</script>
<script type="text/javascript">
    document.getElementById('download-button').addEventListener('click', function() {
        var chartElement = document.getElementById('stats');

        html2canvas(chartElement).then(function(canvas) {
            var imgData = canvas.toDataURL('image/png');

            var docDefinition = {
                content: [
                    {
                        image: imgData,
                        width: 700
                    }
                ]
            };

            // Genera el archivo PDF
            var pdfDocGenerator = pdfMake.createPdf(docDefinition);
            pdfDocGenerator.download('estadisticas.pdf');
        });
    });
</script>

<style>
.stats {
border-radius: 8px;
padding: 20px;
text-align: left;
}
.stat-item {
    margin-bottom: 10px;
}
</style>