{{> header}}

<div class="container py-2">
    <h2 class="home-title text-center mb-5 display-4">Panel de editor</h2>
    <div class="row">
        <div class="col-md-12">
            <h3 class="mb-3">Preguntas Sugeridas</h3>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Pregunta</th>
                        <th class="text-success">Respuesta correcta</th>
                        <th class="text-danger">Respuesta incorrecta 1</th>
                        <th class="text-danger">Respuesta incorrecta 2</th>
                        <th class="text-danger">Respuesta incorrecta 3</th>
                    </tr>
                </thead>
                <tbody>
                {{#suggestedQuestion}}
                    <tr>
                        <td>{{pregunta}}</td>
                        <td>{{respuesta_correcta}}</td>
                        <td>{{primera_respuesta_incorrecta}}</td>
                        <td>{{segunda_respuesta_incorrecta}}</td>
                        <td>{{tercera_respuesta_incorrecta}}</td>
                    </tr>
                {{/suggestedQuestion}}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-5 py-4">
        <div class="col-md-12">
            <h3 class="mb-3">Preguntas Reportadas</h3>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Pregunta reportada</th>
                    </tr>
                </thead>
                <tbody>
                {{#reportedQuestions}}
                    <tr>
                        <td>{{Pregunta_texto}}</td>
                    </tr>
                {{/reportedQuestions}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{> footer}} 
