<div class="w3-container footer" style="background: black; color:white;">
    <p>Pokédex - 2023</p>
</div>

<!-- Agregar scripts de JavaScript aquí para obtener y mostrar datos de Pokémon utilizando Mustache -->

</body>
</html>
