<!DOCTYPE html>
<html>
<head>
    <title>Pokédex</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        /* Estilos personalizados */
        body {
            background-image: url('/public/pokeball.png'); /* Reemplaza 'pokeballs.jpg' con tu imagen de fondo */
            background-repeat: repeat;
        }

        /* Estilos para la cabecera y el pie de página */
        .header {
            text-align: center;
            padding: 50px 0;
        }

        .footer {
            text-align: center;
            padding: 20px 0;
        }

        /* Estilos para la lista de Pokémon */
        .pokemon-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .pokemon-card {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid #ccc;
            border-radius: 10px;
            margin: 10px;
            padding: 10px;
            text-align: center;
            width: 200px;
        }

        .pokemon-image {
            max-width: 100px;
            max-height: 100px;
        }
    </style>
</head>
<body>

<div class="w3-container header">
    <img src="/public/pokemon.png" width="300px">
</div>
<div class="w3-container w3-teal w3-padding-32">
    <a href="/pokedex/alta">Alta</a>
</div>