{{> header}}
<body>
<div class="container">
    <h2 class="home-title d-flex justify-content-center m-5">Pregunta2</h2>
    <div class="row">
        <div class="col-md-6">
            {{#user}}
                <div class="alert alert-info">
                    <p>Hola, bienvenido <strong>{{nombre_completo}}</strong>.</p>
                    <p>Su puntuacion mas alta es: {{puntuacion_masalta}}</p>
                </div>
            {{/user}}
        </div>
        <div class="col-md-6">
            <h2>Ranking</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Posicion</th>
                    <th>Usuario</th>
                    <th>Puntos más altos</th>
                </tr>
                </thead>
                <tbody>
                {{#rankingScore}}
                    <tr>
                        <td class="position">
                            {{position}}
                        </td>
                        <td>
                            {{nombre_completo}}
                        </td>
                        <td>
                            {{puntuacion_masAlta}}
                        </td>
                    </tr>
                {{/rankingScore}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var positionColumns = document.querySelectorAll('.position');

        positionColumns.forEach(function(positionColumn) {
            var positionValue = positionColumn.innerText;

            switch (positionValue) {
                case '1':
                    positionColumn.innerHTML = '<img src="../public/assets/primerPuesto.png" alt="1">';
                    break;
                case '2':
                    positionColumn.innerHTML = '<img src="../public/assets/segundoPuesto.png" alt="2">';
                    break;
                case '3':
                    positionColumn.innerHTML = '<img src="../public/assets/tercerPuesto.png" alt="3">';
                    break;
            }
        });
    });
</script>
</body>