{{> header}}
<!-- The Band Section -->
<html class="home">
<link rel="stylesheet" href="../public/css/home.css">
<body>
<div>
    <h2 class="home-title">KnowItAll</h2>
    <div class="general-home">
        <div class="img-home1">
            <img class="brain-home" src="../public/images/brain2.png" alt="">
        </div>
        <div class="buttons-home-cont">
            <br>
            {{#user}}
                <p>Hola  <span style="font-weight: bold"> {{nombreCompleto}}</span>! Tu puntaje total es de <span style="font-weight: bold">{{puntaje}}</span></p>
            {{/user}}
            <a href="/partida/empezarPartida" class="button-empezar">Jugar Partida</a>
            <br>
            <a href="/pregunta/crear" class="button-crear">Crear Pregunta</a>
        </div>
        <div class="img-home2">
            <img class="brain-home" src="../public/images/brain.png" alt="">
        </div>
    </div>

    <!-- End Page Content -->
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../public/js/ajaxPartida.js"></script>
</body>
</html>
{{> footer}}