{{> header}}
<html class="home">
<body>
<div class="container">
    <h2 class="home-title d-flex justify-content-center m-5">Pregunta2</h2>
    <div class="general-home">
        <div class="buttons-home-cont">
            <br>
            {{#user}}
                <p>Hola, bienvenido  <span style="font-weight: bold"> {{nombre_completo}}</span></p>
            {{/user}}
        </div>
    </div>
</div>
</body>
</html>