<!DOCTYPE html>
<html>
<head>
    <title>Iniciar sesión</title>

</head>
<body>
<div class="login-page">
    <div class="login-side">
        <form action="/login/ingresarlogin" method="POST" class="login-box">
            <div class="brand">Iniciar Sesión</div>
            <div class="line-form">
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="username">


            </div>
            <div class="line-form">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password">
            </div>
            <h4>
                {{errorDatos}}
            </h4>
            <button type="submit" class="btn-gral">Iniciar sesión</button>
            <p class="txtReg">¿No tenés una cuenta? <a class="txtReg2" href="/register/register">Registrate</a></p>

        </form>
    </div>

</div>


</body>
</html>