{{> header}}

<div class="container d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="display-4 text-danger">{{error_msg}}</h1>
        <h2 class="my-4">Tu puntaje actual: <span class="text-primary">{{puntaje}}</span></h2>
        <h4>Tu puntuación mas alta: <span class="text-success">{{puntajeMasAlto}}</span></h4>
        <a href="/" class="btn btn-secondary mt-3 btn-lg">Volver al inicio</a>
    </div>
</div>

{{> footer}}

