<!-- FILEPATH: /C:/xampp/htdocs/view/play_view.mustache -->
{{> header}}

<html>
 <body>
        <h1>Play Game</h1>
        <p>Welcome to the game! Here are the rules:</p>
        <form action="/play/empezar" method="POST">
            <button type="submit">Start Game</button>
        </form>
    </body>
</html>
{{> footer}}


