{{> header}}

<div class="container d-flex justify-content-center align-items-center flex-column">
    <div class="container-fluid text-center">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Gracias!</h4>
            <p>Tu pregunta fue reportada con éxito!</p>
        </div>
        <a href="/inicio" class="btn btn-primary mt-3">Volver al Inicio</a>
    </div>
</div>

{{> footer}} 

