{{> header}}
<html class="home">
<body>
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
        <!--agregar una imagen de un tick verde!-->
        <h2>Tu pregunta fue reportada con exito!</h2>
        <a href="/inicio" class="btn btn-primary mt-3">Volver al Inicio</a>
    </div>
</div>
</body>
</html>
