{{> header}}

<div class="container d-flex justify-content-center align-items-center flex-column">
    <div class="container-fluid text-center">
        <div class="alert alert-success" role="alert">
            <h1 class="alert-heading">¡Gracias!</h1>
            <h3>La pregunta fue reportada con éxito</h3>
            <p>Los administradores se encargarán de revisarla.</p>
        </div>
        <a href="/" class="btn btn-secondary mt-3">Volver al inicio</a>
    </div>
</div>

{{> footer}} 

