{{> header}}

<div class="container d-flex justify-content-center align-items-center flex-column" >
    <div class="container-fluid text-center">
        <div class="alert alert-success" role="alert">
        <h1>¡Tu pregunta fue sugerida con éxito!</h1>
        <h3>Muchas gracias por contribuir con el desarrollo de la aplicación</h3>
        </div>
        <a href="/" class="btn btn-secondary mt-3">Volver al Inicio</a>
    </div>
</div>

{{> footer}} 


